.lin {
  margin: 5px;
  font-size: 40px;
  padding: 5px;
  text-decoration: none;
  color: #fcc316;
  border: 3px solid;
  border-radius: 10px;
}

.fac {
  margin: 5px;
  font-size: 40px;
  padding: 5px;
  text-decoration: none;
  color: #fcc316;
  border: 3px solid;
  border-radius: 10px;
}

.wha {
  margin: 5px;
  font-size: 40px;
  padding: 5px;
  text-decoration: none;
  color: #fcc316;
  border: 3px solid;
  border-radius: 10px;
}

.git {
  margin: 5px;
  font-size: 40px;
  padding: 5px;
  text-decoration: none;
  color: #fcc316;
  border: 3px solid;
  border-radius: 10px;
  
}
