
.my-projects {
    background-color: #282828;
    padding-top: 20px;
    margin-top: 200px;
    height: 100%;
    width: 100%;
}

.my-projects h1::first-letter {
    font-weight: bolder;
    color: #fcc316;
    font-size: 50px;
    border-bottom: 3px solid #fcc316;
}

.my-projects h1:hover {
    color: #fcc316;
}

.my-projects h1 {
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}

.project{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
