* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    outline: 0 !important;
}

body {
    background-color: #242424;
    color: #e0dad0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::-webkit-scrollbar {
        width: 4px;
        z-index: 1000;
        background-color: #fcc316;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #fcc316;
        border-width: 2px 0 2px;
        border-style: solid;
        border-color: #fcc316;
        box-shadow: 0 -100vh 0 100vh #282828;
        scroll-behavior: smooth;
    }
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
